.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2 rem 1 rem;
}

.login-form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 1.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #dee2e6;
}

.login-form-wrapper form {
  padding: 0 !important;
}

.login-info p {
  margin: 0;
}
